@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bellefair';
    src: local('Bellefair Regular'), local('Bellefair-Regular'),
        url('../src/font/Bellefair-Regular.woff2') format('woff2'),
        url('../src/font/Bellefair-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: local('Barlow Condensed Regular'), local('BarlowCondensed-Regular'),
        url('../src/font/BarlowCondensed-Regular.woff2') format('woff2'),
        url('../src/font/BarlowCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: local('Barlow Regular'), local('Barlow-Regular'),
        url('../src/font/Barlow-Regular.woff2') format('woff2'),
        url('../src/font/Barlow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




body{
    @apply text-white-100 font-Bellefair;
}

.list-border.active{
        @apply md:border-b-white-100 md:border-r-transparent border-r-white-100 text-white-100;
    }

.tab-border.active{
        @apply border-b-white-100 text-white-100;
    }


@layer components{

/*Border for lists*/
.list-border{
    @apply border-[3px] border-transparent 
    hover:md:border-b-white-50 hover:md:border-r-transparent hover:border-r-white-50 hover:text-white-100 
    focus:md:border-b-white-50 focus:md:border-r-transparent focus:border-r-white-50 focus:text-white-100;
}

.tab-border{
    @apply border-[3px] border-transparent 
    hover:border-b-white-50 hover:text-white-100 
    focus:border-b-white-50 focus:text-white-100;
}

/*Animation*/

    .animate-hover{
        @apply transition-all duration-500 ease-in-out;
    }

/* Classes for Typography*/

    .nav-text{
        @apply font-BarlowCond text-white-100 lg:text-nav md:text-subhead2 text-nav uppercase;
    }

    .typ-heading1{
        @apply lg:text-left text-center md:text-head1 text-[80px] uppercase text-white-100;
    }

    .typ-heading2{
        @apply lg:text-head2 lg:text-left text-center md:text-[80px] text-[56px] uppercase text-white-100;
    }

    .typ-heading3{
        @apply lg:text-head3 md:text-[40px] text-[24px] uppercase lg:text-left text-center text-white-100;
    }

    .typ-heading4{
        @apply lg:text-head4 md:text-[24px] text-[16px] uppercase lg:text-left text-center text-white-100;
    }

    .typ-heading5{
        @apply font-BarlowCond lg:text-head5 md:text-[20px] text-[16px] font-normal uppercase text-white-100;
    }

    .typ-subheading1{
        @apply lg:text-subhead1 lg:text-left md:text-[20px] text-center uppercase text-white-100;
    }

    .typ-subheading2{
        @apply font-BarlowCond text-subhead2 text-purple uppercase;
    }

    .typ-body{
        @apply font-Barlow lg:text-body lg:text-left text-[16px] text-center text-white-100;
    }


    
/*Utility classes*/

    .flex-center{
        @apply flex justify-center items-center;
    }

    .wrapper{
        @apply xl:max-w-6xl lg:max-w-[77%] md:max-w-[58%] md:px-0 max-w-[100%] px-6 mx-auto;
    }
}